/* ========== Common Styles ========= */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* ============== /Common Styles ==========*/
/* ========== Page Header Styles ========= */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-part {
  color: #2e2f42;
}

.menu {
  display: none;
  gap: 40px;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}
.menu-link.current::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: #404bbf;
}

address {
  font-style: normal;
}

.contact-list {
  display: none;
  gap: 40px;
}

.contact-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
}
.mob-menu-open-btn {
  border: none;
  padding: 0;
  /* width: 24px;
  height: 24px; */
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-menu-open-icon {
  width: 24px;
  height: 24px;
}
.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 72px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-btn:focus {
  background-color: #e7e9fc;
}
.mob-menu-close-icon {
  fill: #2e2f42;
}

.mob-menu-nav {
  margin-bottom: auto;
}

.mob-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-nav-item {
}

.mob-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-nav-link:focus {
  color: #404bbf;
}

.mob-menu-contact {
  margin-bottom: 48px;
}

.mob-menu-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-menu-contact-item {
}

.mob-menu-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-contact-link:focus {
  color: #4d5ae5;
}

.header-social-link-wrapper {
  text-align: center;
}

.header-social-link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.header-social-link-list {
  display: flex;

  gap: 40px;
}

.header-social-link-item {
  width: 40px;
  height: 40px;
}

.header-social-link-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-svg {
  fill: #f4f4fd;
}

.header-social-link-link:hover,
.header-social-link-link:focus {
  background-color: #31d0aa;
}

/* ========== /Page Header Styles ========= */
/* ========== Hero Section  ========= */
.hero {
  margin: 0 auto;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center center;
}
@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}
.hero-container {
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: #fff;
  background: #4d5ae5;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* ========== /Hero Section ========= */
/* ========== Our Benefits ========= */
.our-benefits {
  padding: 96px 0;
}

.our-benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.our-benefits-list-item {
  width: 100%;
}

.benefits-icon-wraper {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  padding: 24px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.our-benefits-icon {
}

.our-benefits-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.our-benefits-discription {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ========== /Our Benefits ========= */
/* ========== Our Team ========= */
.our-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.name {
  background-color: #ffffff;
  width: 264px;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-name-info {
  padding: 32px 0;
}

.our-team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-social-link-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.team-social-link-item {
  width: 40px;
  height: 40px;
}
.team-social-link-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-link:hover,
.team-social-link-link:focus {
  background-color: #404bbf;
}

.team-svg {
  fill: #f4f4fd;
}
/* ========== /Our Team ========= */
/* ========== Portfolio ========= */
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-list-photo-discription {
  transform: translateY(0);
}
.portfolio-list-photo-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list-photo-discription {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-discription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ===========  /Portfolio========= */
/* ========== Footer ========= */
.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.logo-footer-wrapper {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.logo-footer-part {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-link-wrapper {
  text-align: center;
}

.footer-social-link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-link-list {
  display: flex;
  gap: 16px;
}

.footer-social-link-item {
  width: 40px;
  height: 40px;
}

.footer-social-link-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg {
  fill: #f4f4fd;
}

.footer-social-link-link:hover,
.footer-social-link-link:focus {
  background-color: #31d0aa;
}

.footer-form-wrap {
}
.footer-form-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer-label {
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-input:focus {
  border-color: #4d5ae5;
}
.footer-form-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}
.footer-btn-icon {
  margin-left: 16px;
  fill: #fff;
}
/* ========== /Footer ========= */
/* ========== Modal Form ========= */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.05);
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.icon-close-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-modal-btn:hover,
.icon-close-modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.icon-close-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-modal-btn:hover .icon-close-modal,
.icon-close-modal-btn:focus .icon-close-modal {
  fill: #ffffff;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
}
.modal-label-input-wrap {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment-wrap {
  margin-bottom: 16px;
}
.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 8px 16px;
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment:focus {
  border-color: #4d5ae5;
}
.modal-checkbox-wrap {
  margin-bottom: 24px;
}
.modal-check {
}
.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  align-items: center;
}
.privacy-policy-link {
  margin-left: 3px;
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
}
.fake-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .fake-checkbox {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
  border: none;
}
.agree-icon {
}

.send-form-btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.send-form-btn:hover,
.send-form-btn:focus {
  background-color: #404bbf;
}

/* ========== /Modal Form ========= */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  /* ========== Common Styles ========= */
  .container {
    max-width: 768px;
  }
  /* ============== /Common Styles ==========*/
  /* ========== Page Header Styles ========= */
  .page-header-container {
    padding: 0 16px;
  }
  .logo {
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .mob-menu-open-btn {
    display: none;
  }
  /* ========== /Page Header Styles ========= */
  /* ========== Hero Section  ========= */
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }
  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
  /* ========== /Hero Section ========= */
  /* ========== Our Benefits ========= */

  .our-benefits-list {
    gap: 72px 24px;
  }

  .our-benefits-list-item {
    width: calc((100% - 24px) / 2);
  }

  .our-benefits-list-title {
    text-align: start;
  }
  /* ========== /Our Benefits ========= */
  /* ========== Our Team ========= */
  .team-container {
    /* width: 584px; */
  }
  .our-team > .container {
    width: 584px;
  }

  .our-team-list {
    gap: 64px 24px;
  }
  .name {
    width: calc((100% - 24px) / 2);
  }
  /* ========== /Our Team ========= */
  /* ========== Portfolio ========= */
  .portfolio-list {
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
  /* ===========  /Portfolio========= */
  /* ========== Footer ========= */
  .page-footer > .container {
    width: 584px;
    margin: 0 auto;
  }
  .footer-wrapper {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .logo-footer-wrapper {
    max-width: 264px;
    margin: 0;
  }
  .logo-footer {
    margin-left: 0;
  }
  .footer-social-link-wrapper {
    text-align: start;
    margin-bottom: 0;
  }
  .footer-form-text {
    text-align: start;
  }
  .footer-form {
    flex-direction: row;
  }
  .footer-input {
    width: 264px;
  }
  /* ========== /Footer ========= */
  /* ========== Modal Form ========= */

  /* ========== /Modal Form ========= */
}

@media screen and (min-width: 1158px) {
  /* ========== Common Styles ========= */
  .container {
    min-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* ============== /Common Styles ==========*/
  /* ========== Page Header Styles ========= */
  .page-header-container {
    padding: 0;
  }
  .logo {
    margin-right: 76px;
  }
  .menu {
    display: flex;
  }
  .contact-list {
    display: flex;
  }
  .mob-menu-open-btn {
    display: none;
  }
  /* ========== /Page Header Styles ========= */
  /* ========== Hero Section  ========= */
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
  }
  /* ========== /Hero Section ========= */
  /* ========== Our Benefits ========= */
  .our-benefits {
    padding: 120px 0;
  }
  .benefits-icon-wraper {
    display: flex;
  }
  .our-benefits-list {
    gap: 24px;
  }
  .our-benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .our-benefits-list-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .our-benefits-discription {
    font-weight: 400;
  }
  /* ========== /Our Benefits ========= */
  /* ========== Our Team ========= */
  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team-list {
    gap: 24px;
  }
  .name {
    width: calc((100% - 72px) / 4);
  }
  /* ========== /Our Team ========= */
  /* ========== Portfolio ========= */
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    gap: 24px;
    row-gap: 48px;
  }
  /* ===========  /Portfolio========= */
  /* ========== Footer ========= */
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-wrapper {
    flex-direction: row;
    gap: unset;
  }
  .logo-footer-wrapper {
    margin: 0 120px 0 0;
  }
  .logo-footer {
    margin: 0 0 16px 0;
  }
  .footer-social-link-wrapper {
    margin: 0 80px 0 0;
  }
  .footer-social-link-text {
    text-align: start;
  }
  .footer-form-text {
    text-align: start;
  }
  .footer-form {
    flex-direction: row;
  }
  .footer-input {
    width: 264px;
  }
  /* ========== /Footer ========= */
  /* ========== Modal Form ========= */

  /* ========== /Modal Form ========= */
}
